In [55]:
import pandas as pd
import os

In [56]:
file_path = "0_data\APOLLO_Range.xlsx"

file_name, extension = os.path.splitext(os.path.basename(file_path))

df = pd.read_excel(file_path)

<>:1: SyntaxWarning: invalid escape sequence '\A'
<>:1: SyntaxWarning: invalid escape sequence '\A'
C:\Users\w.truong\AppData\Local\Temp\ipykernel_10612\2018669790.py:1: SyntaxWarning: invalid escape sequence '\A'
  file_path = "0_data\APOLLO_Range.xlsx"
c:\Users\w.truong\Documents\SynologyDrive\Projekte\Python\EPD Daten\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [57]:
min_max_df = (
    df
    .drop(columns = apollo_df.filter(like = "(Unit)").columns)
    # pivot longer lifetime values
    .melt(
        id_vars    = ['Systemleistung','Effektiver Lichtstrom','Lichtausbeute','Schutzart (IP)','IK-Stoßfestigkeit','max. Höchsttemperatur','max. Tiefsttemperatur'],
        var_name   = "LxBy",
        value_name = "Lebensdauer"
    )
    .drop(columns = 'LxBy')
    # pivot longer temperatur values
    .melt(
        id_vars    = ['Systemleistung','Effektiver Lichtstrom','Lichtausbeute','Schutzart (IP)','IK-Stoßfestigkeit','Lebensdauer'],
        var_name   = 'Temp_Bezeichnung',
        value_name = 'Temperatur'
    )
    .drop(columns = 'Temp_Bezeichnung')
    .drop_duplicates()
    .agg(['min', 'max'])
)
apollo_min_max_df

,Systemleistung,Effektiver Lichtstrom,Lichtausbeute,Schutzart (IP),IK-Stoßfestigkeit,Lebensdauer,Temperatur
min,14,2600,145.348837,IP65,IK06,29526,-20
max,198,30000,185.714286,IP65,IK08,245604,45

In [58]:
min_max_df.to_excel("0_data/output/" + file_name + "_min_max.xlsx")