# Vertriebsdashboard (VDB)

In [5]:
import pandas as pd
from sqlalchemy import create_engine
# pip install SQLAlchemy pymysql


# MySQL connection
user        = 'William'
password    = 'Will1510!'
host        = '192.168.131.8' 
database    = 'stats'

mysql_con_string = f"mysql+pymysql://{user}:{password}@{host}/{database}"
mysql_engine = create_engine(mysql_con_string)

In [6]:

belegdaten_mysql_df = pd.read_sql(
    "SELECT * FROM belegdaten LIMIT 100", 
    mysql_engine
)
belegdaten_mysql_df

,Artikelnummer,Artikelstamm_1,Umsatz,Datum,Branchenname,Inland / Ausland,Gruppe
0,5221004,LUNA ECO 1285mm PCO 1x28W 120° 3400lm ...,1254.00,2023-12-05,Rexel International,Ausland,OTC
1,5221015,LUNA ECO 1585mm PCO 1x39W 120° 6000lm ...,1345.00,2023-12-05,Rexel International,Ausland,OTC
2,5211014B,LUNA BL 1200mm PCO 1x39W 120° 5400lm ...,3983.04,2023-12-05,Rexel International,Ausland,OTC
3,5552135,"DV 3x1,5mm² Set LUNA BL/PRO 1,5M ...",4.35,2023-12-05,Rexel International,Ausland,OTC
4,5231005B,KATLA BL 1540mm PCO 1x27W 120° 3800lm ...,659.00,2023-12-05,Rexel International,Ausland,OTC
...,...,...,...,...,...,...,...
95,5231004B,Leuchte KATLA BL 1240mm PCO 1x20W 2800lm ...,2844.72,2023-12-05,Mitegro,Inland,OTC
96,12410607,ELTROPA Leuchte ELU 50-s 1578mm 1x50W PMMA opa...,-44.35,2023-12-05,Mitegro,Inland,OTC
97,7273610830,TUBIS N LED DALI 1565mm PO 1x38W 125° 5600lm ...,1457.76,2023-12-06,Sonepar,Inland,Pro Line
98,NRG9003,RFID-Karte 5er Set ...,20.30,2023-12-06,Mitegro,Inland,Energy
99,NRG9003,RFID-Karte 5er Set ...,40.60,2023-12-06,Mitegro,Inland,Energy

In [1]:

# SQL query
query = "SELECT * FROM belegdaten LIMIT 1000"

# Load data directly into a DataFrame
beleg_df = pd.read_sql(query, conn)

# Close the connection
conn.close()

beleg_df

NameError: name 'pd' is not defined